Button {
    -fx-padding: 8 15 15 15;
    /*-fx-min-height: 80px;*/
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 18;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%), #9d4024, #d86e3a, radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

#Button Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian, #a30000, 0, 0, 0, 2);
}

CheckBox {
    -fx-border-radius: 10px;
    -fx-border-color: #804021;
    -fx-border: 10px;
}

TextField {
    -fx-background-radius: 18px;
    -fx-background-color: #cf9072/*#d86e3a*/
    ;
    -fx-border-radius: 18px;
    -fx-border-color: #804021;
    -fx-border: 10px;
}

PasswordField {
    -fx-background-radius: 18px;
    -fx-background-color: #cf9072/*#d86e3a*/
    ;
    -fx-border-radius: 18px;
    -fx-border-color: #804021;
    -fx-border: 10px;
}